.Chat {
  position: relative;
  background: var(--dots-pattern);
  background-size: 3px 3px;
  background-position: 3px 3px;
  height: calc(100vh - 64px);
  width: 70%;
  display: flex;
  justify-content: center;
}

.Chat__Input {
  position: absolute;
  bottom: 0;
}